<p style="color: green"><%= notice %></p>

<%= render @notice %>

<div>
  <%= link_to "Editar este aviso", edit_notice_path(@notice) %> |
  <%= link_to "Voltar para avisos", notices_path %>

  <%= button_to "Apagar este aviso", @notice, method: :delete %>
</div>
